<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #333;
    opacity: 0.99;
  }
  img#profile {
    border-radius: 15px;
    position: relative;
    top: 5px;
  }
  nav {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav a {
    background-color: transparent;
    line-height: 41px;
    height: 38px;
    color: #aaa;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
  }
  nav a:visited {
    color: inherit;
  }
  nav a:hover {
    color: #eee;
  }
  .left-spacer {
    margin-left: 1em;
  }
  .right-spacer {
    margin-right: 1em;
  }
</style>
<script>
  // $("nav a").o

</script>
<nav class="">
  <a class="left right-spacer" href="#"><img id="profile" src="__host__/lib/img/profile.jpg" height="30px" width="30px"></a>
  <a class="left right-spacer" href="__host__/index.html">Home</a>
  <a class="left right-spacer" href="__host__/articles/index.html">Articles</a>
  <a class="right left-spacer" href="__host__/articles/">Hire Me</a>
  <a class="right left-spacer" href="__host__/articles/">Disagree</a>
</nav>
